@import "./../Variables.scss";

.view {
  width: 100vw;
  min-height: 100vh;
  padding: 64px 24px;
  background-color: $background-color;
}

.view-game-play {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;

  h1 {
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    color: $primary-color;
  }

  .view-game-play-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 6px;
    padding: 0 16px;
    background-color: $primary-color;
    color: $white-color;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: #b96e67;
    }
  }
}
