.view {
  width: 100vw;
  height: 100vh;
  padding: 24px;
}

.view-game-play {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  .view-game-play-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 6px;
    padding: 0 16px;
  }
}

.view-score-table {
  width: 100%;
  margin-top: 120px;

  .view-score-table-head {
    td {
      background: rgba(0, 0, 0, 0.3);
    }
  }

  td {
    height: 48px;
    vertical-align: middle;
    border-bottom: 1px solid black;
  }
}
